workflows/workflow3-lead-capture-system.json
{
  "name": "LEAD CAPTURE SYSTEM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "capture-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "19b6002f-b25c-40e6-9748-acecf5c1d537",
      "name": "Webhook",
      "webhookId": "8855c4b1-d58a-4e9e-bcc8-7835e80a6f48"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PROJECT.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_api _KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_SUPABASE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{$json.name}}"
            },
            {
              "name": "email",
              "value": "={{$json.email}}"
            },
            {
              "name": "company",
              "value": "={{$json.company}}"
            },
            {
              "name": "message",
              "value": "={{$json.message}}"
            },
            {
              "name": "source",
              "value": "landing_page"
            },
            {
              "name": "status",
              "value": "new"
            },
            {
              "name": "lead_score",
              "value": "={{$json.lead_score}}"
            },
            {
              "name": "lead_category",
              "value": "={{$json.lead_category}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "b3ad7341-58ad-46cf-b963-3f2bb0371a66",
      "name": "SAVE LEAD TO SUPABASE"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Lead captured successfully\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        16
      ],
      "id": "35dc70ef-f045-452f-a539-a85a42edf463",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nlet score = 0;\n\n// Base score for form submission\nscore += 20;\n\n// Founder / CEO detection\nconst founderKeywords = [\n  \"founder\",\n  \"ceo\",\n  \"co-founder\",\n  \"owner\",\n  \"startup\"\n];\n\nconst message = (body.message || \"\").toLowerCase();\n\nfor (const keyword of founderKeywords) {\n  if (message.includes(keyword)) {\n    score += 25;\n    break;\n  }\n}\n\n// Demo / booking intent\nconst intentKeywords = [\n  \"demo\",\n  \"call\",\n  \"meeting\",\n  \"schedule\",\n  \"interested\"\n];\n\nfor (const keyword of intentKeywords) {\n  if (message.includes(keyword)) {\n    score += 40;\n    break;\n  }\n}\n\n// Determine category\nlet category = \"Cold\";\n\nif (score >= 80) {\n  category = \"High Intent\";\n} else if (score >= 50) {\n  category = \"Hot\";\n} else if (score >= 30) {\n  category = \"Warm\";\n}\n\nreturn [\n  {\n    json: {\n      name: body.name,\n      email: body.email,\n      company: body.company,\n      message: body.message,\n\n      source: \"landing_page\",\n\n      lead_score: score,\n      lead_category: category,\n\n      status: \"new\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "bfb687e9-1c74-4b09-aee1-b59ae461f2b0",
      "name": "LEAD SCORING ENGINE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rym1QIwQN3LEZW69",
          "mode": "list",
          "cachedResultUrl": "/workflow/rym1QIwQN3LEZW69",
          "cachedResultName": "Follow-Up Automation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            ""
          ],
          "schema": [
            {
              "id": "",
              "displayName": "",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        832,
        -144
      ],
      "id": "b9350190-7716-48eb-b01e-cc581e40c886",
      "name": "Call 'Follow-Up Automation'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1afaca63-d802-4275-8a5f-60f463f1e9af",
              "leftValue": "={{$json.lead_category}}",
              "rightValue": "High Intent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "40405847-1abb-43bc-8555-06a8f17a1bdf",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "LEAD SCORING ENGINE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE LEAD TO SUPABASE": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEAD SCORING ENGINE": {
      "main": [
        [
          {
            "node": "SAVE LEAD TO SUPABASE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Follow-Up Automation'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'Follow-Up Automation'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0ec8e900-93d4-4a9c-888b-c4273ba2aa4e",
  "meta": {
    "instanceId": "e5295ea684ae8030928f4d50a044aec949d076057884ec95962886eb6e0c65e9"
  },
  "id": "WTwKfr2OtB4wJfFv",
  "tags": []
}